@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(5 1fr);
    grid-template-areas:
        'header header'
        'subheader subheader'
        'nav main'
        'nav main'
        'nav main';

    width: 100%;
    height: 100vh;
}

.header {
    grid-area: header;
    /* position: sticky;
    top: 0px; */
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 0.2vw solid #d9d9d9;
    padding: 0 0 0.5vw 0;
    margin: 0;
}

.header .logo {
    width: 10vw;
}

.header .top-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    height: auto;
}

.header .top-button a {
    padding-left: 0.5vw;
    justify-content: space-around;
    align-items: stretch;
}

.header img {
    max-width: 100%;
    height: auto;
}

/*--------------------subheader--------------------*/
.subheader {
    /* position: -webkit-sticky; 
    top: 6vw; */
    grid-area: subheader;
    border-bottom: 0.2vw solid #D9D9D9;
    margin-top: 0.8vw;
    padding-bottom: 0.8vw;
}

.subheaderbox {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #fb0004;
    border-radius: 10px;

}

.rsubheader {
    text-align: right;
    padding-right: 1vw;
}

.kantinfti {
    width: fit-content;
    padding: 15px 25px 15px 25px;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;
    border-radius: 12px;
    background-color: white;
}

.lsubheader {
    padding: 30px 30px;
}

.lsubheader h1 {
    margin: 0;
}


button {
    background-color: transparent;
    border: none;
}

/*--------------------nav--------------------*/
.navbar {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
        'navbar-top'
        'navbar-bot';

    border-right: 2px solid #D9D9D9;
    width: 15vw;
    height: 100%;
}

.navbar .top {
    grid-area: navbar-top;
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr 1fr;
    /* grid-template-areas: 
        'food'
        'beverage'; */
    margin-top: 1vw;
    padding: 0;
    font-size: 1em;
}

.navbar .top .food {
    /* grid-area: food; */
    justify-content:center;
}

.navbar .top .beverage {
    /* grid-area: beverage; */
}
.navbar .top a {
    color: black;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 1.3em;
    border: 2px solid #D9D9D9;
    border-radius: 0.5vw;

    height: 2vw;
    padding-left: 1vw;
    margin: 0 2vw 1vw 1vw;
    border-radius: 0.5vw;
    max-width: 10vw;}

.navbar .top a:hover {
    border: 2px solid #FB0004;
    color: #FB0004;
    background-color: rgba(251, 0, 4, 0.20);
}

/* navbar bot */
.navbar .bot {
    grid-area: navbar-bot;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'mycartarea mycartarea'
        'totalcart arrowarea';
    background-color: #FB0004;
    color: #ffffff;
    text-align: left;
    align-items: center;
    padding-left: 1vw;
    margin: 0 2vw 1vw 1vw;
    border-radius: 0.5vw;
    max-width: 10vw;
}

a .bot{
    text-decoration: none;
}
/* .navbar .bot a{
    color: #ffffff;
    text-decoration: none;
} */
/* .mycart a{
    grid-area: mycartarea;
    color: #ffffff;
}


a .totalcart {
    grid-area: totalcart;
    align-items: center;
    color: #ffffff;
} */

.arrow {
    grid-area: arrowarea;
    width: 2vw;
    align-items: center;
}

.arrow img{
    max-width: 100%;
}

/*--------------------main--------------------*/
.main {
    grid-area: main;
    margin: 10px 10px 10px 30px;
    overflow: visible;
    overflow: hidden;
    overflow: scroll;
    overflow: auto;
}

.search{
    text-align: center; /* Center the search bar */
    margin-top: 20px;
}

.searchbar{
padding: 10px;
}

.search-button{
 padding: 1vw;
}

.foodcontainer {
    background-image: linear-gradient(to right, #000 50%, transparent 50%);
    background-size: 10px 1px;
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        'menuimg menutitle'
        'menuimg menudesc'
        'menuimg menuprice'
        'menuimg buttons';

    padding-bottom: 1.5vw;
    margin-bottom: 1.5vw;
    height: fit-content;
    max-width: 100%;

}

.menuimg {
    grid-area: menuimg;
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menuimg img {
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
    align-items: center;
    object-fit: cover;
    border-radius: 6px;

}

.menubackground {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: #FFCB00;
}

.menutitle {
    grid-area: menutitle;
}

.menudesc {
    grid-area: menudesc;
    font-size: 1em;
}

.price {
    grid-area: menuprice;
    display: flex;
    flex-direction: row;

}

.menuprice {
    color: #FB0004;
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 40vw;
}

.input-group {
    display: grid;
    align-content:right;
    grid-area: menuprice;
    
}

#myNumber {
    color: #FB0004;
    background-color: #FFCB50;
    border-color: transparent;
    text-align: center;
    width: 10vw;
    padding: 0.2vw 0vw 0.2vw 0vw;
    border-radius: 0.4vw;
}

#addtocart {
    margin-top: 0.2vw;
    color: #ffffff;
    background-color: #FB0004;
    border-color: transparent;
    width: 10vw;
    text-align: center;
    border-radius: 0.4vw;
    max-height: 2vw;
    font-weight: 500;
}

/* .lbtn {
    color: #FB0004;
    background-color: #FFCB50;
    font-size: large;
    border-radius: 5px 0 0 5px;
    border-color: transparent;
}

.rbtn {
    color: #FB0004;
    background-color: #FFCB50;
    font-size: large;
    border-radius: 0 5px 5px 0;
    border-color: transparent;
} */