@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: repeat(5 1fr);
    grid-template-areas:
        'header header'
        'subheader subheader'
        'orderdetails payment'
        'orderdetails payment'
        'orderdetails payment';

    width: 100%;
    height: 100vh;
}

.header {
    grid-area: header;
    /* position: sticky;
    top: 0px; */
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 0.2vw solid #d9d9d9;
    padding: 0 0 0.5vw 0;
    margin: 0;
}

.header .logo {
    width: 10vw;
}

.header .top-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    height: 1vw;
}

.header .top-button a {
    padding-left: 0.5vw;
    justify-content: space-around;
    align-items: stretch;
}

.header img {
    max-width: 100%;
    height: auto;
}

/*--------------------subheader--------------------*/
.subheader {
    /* position: -webkit-sticky; 
    top: 6vw; */
    grid-area: subheader;
    border-bottom: 0.2vw solid #D9D9D9;
    margin-top: 0.8vw;
    padding-bottom: 0.8vw;
}

.subheaderbox {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #fb0004;
    border-radius: 10px;

}

.rsubheader {
    text-align: right;
    padding-right: 1vw;
}

.kantinfti {
    width: fit-content;
    padding: 15px 25px 15px 25px;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;
    border-radius: 12px;
    background-color: white;
}

.lsubheader {
    padding: 30px 30px;
}

.lsubheader h1 {
    margin: 0;
}


button {
    background-color: transparent;
    border: none;
}

/*--------------------orderdetails--------------------*/
.navlink{
    background-image: linear-gradient(to right, #000 50%, transparent 50%);
    background-size: 10px 1px;
    background-repeat: repeat-x;
    background-position: bottom;
    color: #fb0004;
    padding-bottom: 1vw;

}

.navlink a{
    color: #fb0004;
    text-decoration: none;
}

.orderlabel{
    color: #000;
    font-size: 2em;
    font-weight: 400;
    background-image: linear-gradient(to right, #000 50%, transparent 50%);
    background-size: 10px 1px;
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 1vw;
}

.foodcontainer {
    background-image: linear-gradient(to right, #000 50%, transparent 50%);
    background-size: 10px 1px;
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        'menuimg menutitle'
        'menuimg menudesc'
        'menuimg menuprice';

    padding-bottom: 1.5vw;
    margin-bottom: 1.5vw;
    height: fit-content;
    max-width: 100%;

}

.menuimg {
    grid-area: menuimg;
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menuimg img {
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
    align-items: center;
    object-fit: cover;
    border-radius: 6px;

}

.menubackground {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: #FFCB00;
}

.menutitle {
    grid-area: menutitle;
}

.menudesc {
    grid-area: menudesc;
    font-size: 1em;
}

.price {
    grid-area: menuprice;
    display: flex;
    flex-direction: row;

}

.menuprice {
    color: #FB0004;
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 10vw;
}


/*--------------------payment--------------------*/
.payment{
    grid-area: payment;
    background-image: linear-gradient(to bottom, #000 50%, transparent 50%);
    background-size: 1px 10px;
    background-repeat: repeat-y;
    background-position: left;
}