@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 7.7fr 2.3fr;
    grid-template-rows: repeat(5 1fr);
    grid-template-areas:
        'header header'
        'subheader subheader'
        'orderdetails payment'
        'orderdetails payment'
        'orderdetails payment';

    width: 100%;
    height: 100vh;
}

.header {
    grid-area: header;
    /* position: sticky;
    top: 0px; */
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 0.2vw solid #d9d9d9;
    padding: 0 0 0.5vw 0;
    margin: 0;
}

.header .logo {
    width: 10vw;
}

.header .top-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    height: 1vw;
}

.header .top-button a {
    padding-left: 0.5vw;
    justify-content: space-around;
    align-items: stretch;
}

.header img {
    max-width: 100%;
    height: auto;
}

/*--------------------subheader--------------------*/
.subheader {
    /* position: -webkit-sticky; 
    top: 6vw; */
    grid-area: subheader;
    border-bottom: 0.2vw solid #D9D9D9;
    margin-top: 0.8vw;
    padding-bottom: 0.8vw;
}

.subheaderbox {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #fb0004;
    border-radius: 10px;

}

.rsubheader {
    text-align: right;
    padding-right: 1vw;
}

.kantinfti {
    width: fit-content;
    padding: 15px 25px 15px 25px;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;
    border-radius: 12px;
    background-color: white;
}

.lsubheader {
    padding: 30px 30px;
}

.lsubheader h1 {
    margin: 0;
}


button {
    background-color: transparent;
    border: none;
}

/*--------------------orderdetails--------------------*/
.navlink{
    background-image: linear-gradient(to right, #000 50%, transparent 50%);
    background-size: 10px 1px;
    background-repeat: repeat-x;
    background-position: bottom;
    color: #fb0004;
    padding-bottom: 1vw;

}

.navlink a{
    color: #fb0004;
    text-decoration: none;
}

.orderlabel{
    color: #000;
    font-size: 2em;
    font-weight: 400;
    background-image: linear-gradient(to right, #000 50%, transparent 50%);
    background-size: 10px 1px;
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 1vw;
}

.foodcontainer {
    background-image: linear-gradient(to right, #000 50%, transparent 50%);
    background-size: 10px 1px;
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        'menuimg menutitle'
        'menuimg menudesc'
        'menuimg menuprice';

    padding-bottom: 1.5vw;
    margin-bottom: 1.5vw;
    height: fit-content;
    max-width: 100%;

}

.menuimg {
    grid-area: menuimg;
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menuimg img {
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
    align-items: center;
    object-fit: cover;
    border-radius: 6px;

}

.menubackground {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: #FFCB00;
}

.menutitle {
    grid-area: menutitle;
}

.menudesc {
    grid-area: menudesc;
    font-size: 1em;
}

.price {
    grid-area: menuprice;
    display: flex;
    flex-direction: row;

}

.menuprice {
    color: #FB0004;
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 10vw;
}


/*--------------------payment--------------------*/
.payment{
    grid-area: payment;
    background-image: linear-gradient(to bottom, #000 50%, transparent 50%);
    background-size: 1px 10px;
    background-repeat: repeat-y;
    background-position: left;
    
}

.cart-list {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-name {
    margin: 0;
}

.item-description {
    color: #666;
}

.item-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.item-quantity,
.item-price {
    margin-bottom: 5px;
}

.remove-item a {
    color: #a00;
    text-decoration: none;
}

.remove-item a:hover {
    text-decoration: underline;
}

.empty-cart {
    color: #666;
    margin: 0;
}

/*--------------------payment--------------------*/
.payment {
    grid-area: payment;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
#payment-method{
    margin: 1vw 0vw 0vw 0vw;
    align-items: center;
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #ffffff;
}
.payment a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.payment a:hover {
    background-color: #e6e6e6;
}

/* qris page */
.qris {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas:
        'top'
        'bot';
}

/* bank page */
.bank {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 20px;
    color: #fb0004;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas:
        'top'
        'bot';
}

.top {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: repeat(5 1fr);
    grid-template-areas:
        'bank-name norek nama-kantin'
        'bank-name norek nama-kantin'
        'bank-name norek nama-kantin'
        'bank-name norek nama-kantin'
        'bank-name norek nama-kantin';
}

.bot {
    grid-area: bot;
    display: grid;
    justify-content: flex-end;
}
/* Bank details styling */
.bank p {
    margin: 5px 0;
    color: #fb0004; /* Set the font color to white */
}


.bank-name , .nama-kantin, .norek {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.qrframe{
    width: 18vw;
}
#qrcode{
    width: 100%;
}
.box{
    color: #ffffff;
    font-size: large;
    background-color: #FB0004;
    border-color: transparent;
    text-align: center;
    padding: 1.5vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.paidbutton{
    color: white !important;
    font-size: medium;
    background-color: #FB0004 !important;
    padding: 15px 150px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    text-align: center;
}